In [1]:
import pandas as pd

In [26]:
df = pd.read_csv(r"C:\Users\LENOVO\OneDrive\Desktop\python\webscraping\auto car trader\car_data2.csv")

In [73]:
df.head(8)

,Name,Year,Price,Miles,Engine,Average,Transmission,engine size,cylinder,engine type
0,Certified GMC Sierra Denali,2020,"49,994","38,806 miles",6.2L 8-Cylinder Gas Engine,15 City / 20 Highway,10-Speed Automatic Transmission,6.2L,8,Gas Engine
1,Kia K5 LXS,2023,"21,197","18,476 miles",1.6L 4-Cylinder Turbo Gas Engine,27 City / 37 Highway,8-Speed Automatic Transmission,1.6L,4,Gas Engine
2,Certified Chevrolet Equinox LT,2021,"22,755","33,432 miles",1.5L 4-Cylinder Turbo Gas Engine,26 City / 31 Highway,6-Speed Automatic Transmission,1.5L,4,Gas Engine
3,Subaru Forester 2.5i Premium,2016,"16,990","72,890 miles",2.5L 4-Cylinder Gas Engine,24 City / 31 Highway,Continuously Variable Automatic Transmission,2.5L,4,Gas Engine
4,Jeep Cherokee Latitude Lux,2021,"24,445","28,840 miles",2.0L 4-Cylinder Turbo Gas Engine,19 City / 27 Highway,9-Speed Automatic Transmission,2.0L,4,Gas Engine
5,Nissan Altima 2.5 SV,2022,"25,590","11,922 miles",2.5L 4-Cylinder Gas Engine,28 City / 39 Highway,Continuously Variable Automatic Transmission,2.5L,4,Gas Engine
6,Kia Sorento SX Prestige,2021,"36,495","14,991 miles",2.5L 4-Cylinder Turbo Gas Engine,21 City / 28 Highway,8-Speed Automatic Transmission,2.5L,4,Gas Engine
7,Nissan NV SV,2021,"38,995","17,344 miles",4.0L 6-Cylinder Gas Engine,Glacier White Exterior,2 wheel drive - rear,4.0L,6,Gas Engine

In [28]:
df1 =df

In [29]:
#seprating Engine column in three column 'engine, cylinder, Enginetype'

# Extract engine size (e.g., 6.2L, 1.6L)
df1['engine size'] = df1.Engine.str.extract(r'(\d+\.\d+L)')

# Extract number of cylinders (e.g., 8, 4)
df1['cylinder'] = df1['Engine'].str.extract(r'(\d+)-Cylinder')

# Extract engine type (e.g., Gas Engine, Turbo Gas Engine)
df1['engine type'] = df1['Engine'].str.split().str[-2:].apply(lambda x: ' '.join(x) if isinstance(x,list) else '')

In [30]:
df1 = df1.drop('Engine',axis=1)

In [31]:
#sepration Average column in two columns city milage and highway milage

df1[['city mileage','highway mileage']] = df1.Average.str.split('/', expand=True)
df1['city mileage'] = df1['city mileage'].str.replace('City', '')
df1['highway mileage'] = df1['highway mileage'].str.replace('Highway', '')
df1['engine type'] = df1['engine type'].str.replace('Engine', '')

In [32]:
df1 = df1.drop('Average', axis=1)

In [33]:
#sepration Transmission column in two column Gear, transmission Type
df1['gear'] = df1['Transmission'].str.extract(r'(\d+)-Speed', expand=False)
df1['transmission type'] = df1['Transmission'].str.extract(r'(Automatic|Manual)', expand=False)

In [34]:
df1 = df1.drop('Transmission',axis=1)

In [72]:
df1.head(8)

,Name,Year,Price,Miles,engine size,cylinder,engine type,city mileage,highway mileage,gear,transmission type
0,GMC Sierra Denali,2020,49994,38806,6.0,8.0,Gas,15.0,20.0,10.0,Automatic
1,Kia K5 LXS,2023,21197,18476,2.0,4.0,Gas,27.0,37.0,8.0,Automatic
2,Chevrolet Equinox LT,2021,22755,33432,2.0,4.0,Gas,26.0,31.0,6.0,Automatic
3,Subaru Forester 2.5i Premium,2016,16990,72890,2.0,4.0,Gas,24.0,31.0,8.0,Automatic
4,Jeep Cherokee Latitude Lux,2021,24445,28840,2.0,4.0,Gas,19.0,27.0,9.0,Automatic
5,Nissan Altima 2.5 SV,2022,25590,11922,2.0,4.0,Gas,28.0,39.0,8.0,Automatic
6,Kia Sorento SX Prestige,2021,36495,14991,2.0,4.0,Gas,21.0,28.0,8.0,Automatic
7,Nissan NV SV,2021,38995,17344,4.0,6.0,Gas,22.0,28.0,8.0,Automatic

In [65]:
# change data tyme of average column and seprating it with city and highway column
#df1['city mileage'] = pd.to_numeric(df1['city mileage'], errors='coerce')

#df['city mileage']=df['city mileage'].replace('City','')
#df['highway mileage']=df['highway mileage'].replace('Highway','')

In [70]:
df1['Miles'] = df1['Miles'].str.replace('miles', '').str.replace(',','')

In [37]:
#removing ',' in price and change data type
df1['Price'] = pd.to_numeric(df1['Price'].str.replace(',', ''), errors='coerce')

In [60]:
df1.dtypes

Name                  object
Year                   int64
Price                  int64
Miles                 object
engine size          float64
cylinder             float64
engine type           object
city mileage         float64
highway mileage      float64
gear                 float64
transmission type     object
dtype: object

In [61]:
df1.isnull().sum()

Name                 0
Year                 0
Price                0
Miles                0
engine size          0
cylinder             0
engine type          0
city mileage         0
highway mileage      0
gear                 0
transmission type    0
dtype: int64

In [62]:
df1[df1.isnull().any(axis=1)]

Empty DataFrame
Columns: [Name, Year, Price, Miles, engine size, cylinder, engine type, city mileage, highway mileage, gear, transmission type]
Index: []

In [18]:
df1['engine size'] = pd.to_numeric(df1['engine size'], errors='coerce')

In [41]:
#convert datatypes

numeric_columns  = ['cylinder', 'city mileage', 'highway mileage','gear']
df1[numeric_columns] = df1[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [52]:
#filling mean in null values

df1['engine size'].fillna(df1['engine size'].mean(),inplace=True)
df1['cylinder'].fillna(df1['cylinder'].mean(),inplace=True)
df1['city mileage'].fillna(df1['city mileage'].mean(),inplace=True)
df1['highway mileage'].fillna(df1['highway mileage'].mean(),inplace=True)

In [58]:
#filling  mode in null values
df1['gear'].fillna(df1['gear'].mode()[0],inplace=True) 
df1['transmission type'].fillna(df1['transmission type'].mode()[0],inplace=True)

In [43]:
df1['Name'] = df1['Name'].str.replace('Certified','')

In [71]:
df1

,Name,Year,Price,Miles,engine size,cylinder,engine type,city mileage,highway mileage,gear,transmission type
0,GMC Sierra Denali,2020,49994,38806,6.0,8.0,Gas,15.0,20.0,10.0,Automatic
1,Kia K5 LXS,2023,21197,18476,2.0,4.0,Gas,27.0,37.0,8.0,Automatic
2,Chevrolet Equinox LT,2021,22755,33432,2.0,4.0,Gas,26.0,31.0,6.0,Automatic
3,Subaru Forester 2.5i Premium,2016,16990,72890,2.0,4.0,Gas,24.0,31.0,8.0,Automatic
4,Jeep Cherokee Latitude Lux,2021,24445,28840,2.0,4.0,Gas,19.0,27.0,9.0,Automatic
...,...,...,...,...,...,...,...,...,...,...,...
667,Jeep Compass Trailhawk,2021,21443,29476,2.0,4.0,Gas,22.0,30.0,9.0,Automatic
668,Honda CR-V EX,2021,26243,23940,2.0,4.0,Gas,27.0,32.0,8.0,Automatic
669,MAZDA MAZDA3 Hatchback w/Premium Plus Pkg,2023,32900,8643,2.0,4.0,Gas,23.0,31.0,6.0,Automatic
670,Ford F150 XL,2021,40900,14688,3.0,6.0,Gas,19.0,24.0,10.0,Automatic
671,MAZDA CX-5 Touring,2019,24295,16448,2.0,4.0,Gas,24.0,30.0,6.0,Automatic

In [45]:
# Assuming df is your DataFrame
df1['engine size'] = df1['engine size'].str.rstrip('L')  # Remove 'L' suffix
df1['engine size'] = pd.to_numeric(df1['engine size'], errors='coerce')  # Convert to numeric

# If you prefer to handle the 'L' suffix in one step:
# df['engine size'] = pd.to_numeric(df['engine size'].str.rstrip('L'), errors='coerce')

In [66]:
# Round values in all specified columns to the nearest integer
df1[['engine size', 'cylinder', 'city mileage', 'highway mileage', 'gear']] = df1[['engine size', 'cylinder', 'city mileage', 'highway mileage', 'gear']].round()

# Display DataFrame with rounded values
print(df1)

                                          Name  Year  Price         Miles
0                           GMC Sierra  Denali  2020  49994  38,806 miles  \
1                                   Kia K5 LXS  2023  21197  18,476 miles
2                         Chevrolet Equinox LT  2021  22755  33,432 miles
3                 Subaru Forester 2.5i Premium  2016  16990  72,890 miles
4                   Jeep Cherokee Latitude Lux  2021  24445  28,840 miles
..                                         ...   ...    ...           ...
667                     Jeep Compass Trailhawk  2021  21443  29,476 miles
668                              Honda CR-V EX  2021  26243  23,940 miles
669  MAZDA MAZDA3 Hatchback w/Premium Plus Pkg  2023  32900   8,643 miles
670                               Ford F150 XL  2021  40900  14,688 miles
671                         MAZDA CX-5 Touring  2019  24295  16,448 miles

     engine size  cylinder engine type  city mileage  highway mileage  gear
0            6.0       8.0        Gas           15.0             20.0  10.0  \
1            2.0       4.0        Gas           27.0             37.0   8.0
2            2.0       4.0        Gas           26.0             31.0   6.0
3            2.0       4.0        Gas           24.0             31.0   8.0
4            2.0       4.0        Gas           19.0             27.0   9.0
..           ...       ...         ...           ...              ...   ...
667          2.0       4.0        Gas           22.0             30.0   9.0
668          2.0       4.0        Gas           27.0             32.0   8.0
669          2.0       4.0        Gas           23.0             31.0   6.0
670          3.0       6.0        Gas           19.0             24.0  10.0
671          2.0       4.0        Gas           24.0             30.0   6.0

    transmission type
0           Automatic
1           Automatic
2           Automatic
3           Automatic
4           Automatic
..                ...
667         Automatic
668         Automatic
669         Automatic
670         Automatic
671         Automatic

[672 rows x 11 columns]

In [67]:
df1

,Name,Year,Price,Miles,engine size,cylinder,engine type,city mileage,highway mileage,gear,transmission type
0,GMC Sierra Denali,2020,49994,"38,806 miles",6.0,8.0,Gas,15.0,20.0,10.0,Automatic
1,Kia K5 LXS,2023,21197,"18,476 miles",2.0,4.0,Gas,27.0,37.0,8.0,Automatic
2,Chevrolet Equinox LT,2021,22755,"33,432 miles",2.0,4.0,Gas,26.0,31.0,6.0,Automatic
3,Subaru Forester 2.5i Premium,2016,16990,"72,890 miles",2.0,4.0,Gas,24.0,31.0,8.0,Automatic
4,Jeep Cherokee Latitude Lux,2021,24445,"28,840 miles",2.0,4.0,Gas,19.0,27.0,9.0,Automatic
...,...,...,...,...,...,...,...,...,...,...,...
667,Jeep Compass Trailhawk,2021,21443,"29,476 miles",2.0,4.0,Gas,22.0,30.0,9.0,Automatic
668,Honda CR-V EX,2021,26243,"23,940 miles",2.0,4.0,Gas,27.0,32.0,8.0,Automatic
669,MAZDA MAZDA3 Hatchback w/Premium Plus Pkg,2023,32900,"8,643 miles",2.0,4.0,Gas,23.0,31.0,6.0,Automatic
670,Ford F150 XL,2021,40900,"14,688 miles",3.0,6.0,Gas,19.0,24.0,10.0,Automatic
671,MAZDA CX-5 Touring,2019,24295,"16,448 miles",2.0,4.0,Gas,24.0,30.0,6.0,Automatic

In [381]:
# Save DataFrame to CSV file with specified path
df1.to_csv(r'C:/Users/LENOVO/OneDrive/Desktop/python/webscraping/auto car trader/cleaned_auto_car_trader.csv', index=False)